.container {
    background-color: white;
}

span {
    background-color: white;
}

fa-icon {
    background-color: white;
}

.sidebarTitle{
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

.container{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    background-color: #FFFF;

}

legend {
    background-color: #FFFF;
    font-size: medium;
    padding-right: 5px;
    word-wrap: normal;
    color: grey;
}

fieldset {
    border: 0.5px; 
    border-style: solid; 
    margin-top: 20px;
    padding: 20px;
    border-color: grey;
    background-color: inherit;
}

.btn{
    background-color: coral;
    border-color: coral;
    margin-top: 5px;
    margin-bottom: 5px;
}

.closingLabel {
    text-align: center;
    background-color: white;
}

.closingLabel>u {
    background-color: white;
}
