<ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="sideBarOpened" position="right">
        <div class="container sidebarContainer">
            <div class="row sidebarElement">
                <span class="col-md-1">
                    <fa-icon [icon]="faArrowLeft" (click)="closeSidebar()"></fa-icon>
                </span>
                <span class="sidebarTitle col-md-11">Configuración</span>
            </div>
   
            <fieldset>
                <legend>Idioma</legend>
                <select name="language" id="language">
                    <option *ngFor="let language of languages" value="{{language}}">{{language}}</option>
                </select>
            </fieldset>
             
            <fieldset>
                <legend>Curso</legend>
                <select name="course" id="course">
                    <option *ngFor="let course of courses" value="{{course}}">{{course}}</option>
                </select>
            </fieldset>

            <div class="row justify-content-center sidebarElement">
                <!--TODO set saving feature-->
                <button class="btn btn-primary col-8" (click)="savePreferences()">Guardar cambios</button>
            </div>        
            <div class="col-xs-12 closingLabel sidebarElement">
                <label class="closingLabel"(click)="closeSidebar()"><u>Cerrar sin guardar</u></label>
            </div>
        </div>
    </ng-sidebar>

    <!--real content-->
    <div ng-sidebar-content id="sidebarContent">
        <app-toolbar-menu></app-toolbar-menu>
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>